<!DOCTYPE html>
<html lang="en">
<head>
    {%block head %}
    <link rel="stylesheet" href="style.css" />
    {% endblock %}
</head>
<body>
    <title>{% block title %}{% endblock %} -My Webpage</title>
    <h1><a href='.\index.html'></a></h1>
    <div id="content"> {% block content %} {% endblock %}</div>
    <div id="footer">
        {% block footer %}
        &copy; Copyleft 2019 by <a href="http://ace510.github.io">Ian Clark</a>
        {% endblock %}
    </div>
</body>
</html>
